<section *ngIf="loading"  class="spinner" style="text-align: center;">
    <mat-spinner class="spinner-center"></mat-spinner>
  </section>

<div class="container mt-5">

    <div *ngIf="item" class="d-flex roe animate__animated animate_bounce _animate__faceIn">

        <div class="col-md-9 mat-expansion-panel text-center pt-4">

            <p><strong>{{ item.id }} - {{ item.author }}</strong> </p>

            <img style="width: 70%; height: 70%;" class="rounded mb-4" src="{{ item.download_url}}" alt="image">
            <mat-accordion class="">
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title></mat-panel-title>
                        <mat-panel-description>
                            {{panelOpenState ? 'Ver menos' : 'Ver mas'}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p><strong>Size:</strong> {{ item.width }} - {{ item.height }}</p>
                    <p><strong>Url:</strong> {{ item.url }}</p>
                </mat-expansion-panel>
            </mat-accordion>

        </div>

        <div class="col-md-3 m-4">
            <a class="btn btn-danger" routerLink="/"> Back</a>
        </div>
    </div>
</div>
