<section *ngIf="items.length === 0"  class="spinner" style="text-align: center;">
  <mat-spinner class="spinner-center"></mat-spinner>
</section>

<div class="container">
  
    <h1>Listado</h1>
    <div class="row">
        <div class="col my-3">
            <mat-button-toggle-group [(ngModel)]="selectedView" #group="matButtonToggleGroup" class="float-end">
                <mat-button-toggle value="cards" aria-label="cards">
                  <mat-icon>view_module</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle value="table" aria-label="table">
                  <mat-icon>view_list</mat-icon>
                </mat-button-toggle>
              </mat-button-toggle-group>
        </div>
    </div>
    
    
   

    <div *ngIf="selectedView === 'table'">
        <app-table-list [items]="items"></app-table-list>
    </div>

    <div *ngIf="selectedView === 'cards'">
        <app-grid-list [items]="items"></app-grid-list>
        
    </div>
      
</div>
